In [4]:
import pandas as pd
pd.__version__

'1.1.2'

In [3]:
import pandas as pd
import numpy as np

dfs = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=1', header=0)
df = dfs[0].copy()

print(len(df))
print(df.columns)

3875
Index(['회사명', '종목코드', '업종', '주요제품', '상장일', '결산월', '대표자명', '홈페이지', '지역'], dtype='object')

In [5]:
df = df[['회사명', '종목코드', '업종', '상장일']]
df.head(100)

           회사명    종목코드             업종         상장일
0         JS전선    5560  절연선 및 케이블 제조업  2007-11-12
1        거북선2호  101380            NaN  2008-04-25
2        거북선6호  114140            NaN  2009-10-01
3        교보메리츠   64900            NaN  2002-01-30
4       국제관광공사   28780            NaN  1966-03-18
..         ...     ...            ...         ...
95      경윤하이드로   19120  일반 목적용 기계 제조업  1992-12-18
96  골든브릿지제2호스팩  206660     금융 지원 서비스업  2015-02-05
97  교보성공파트너일호펀   34650            NaN  1999-03-12
98  교보성공파트너크린앤   35980            NaN  1999-10-29
99      국제종합토건   24860            NaN  1996-07-01

[100 rows x 4 columns]